* {
    font-family: Arial;
    box-sizing: border-box;
}

.mazeGrid {
    border: 1px solid black;
}

.intersectionRow, .cellRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.intersection {
    width: 10px;
    height: 10px;
    background-color: #EEEEEE;
}

.cell {
    width: 100px;
    height: 100px;
    background-color: #CCCCCC;
}

.segment {
    background-color: #EEEEEE;
}

.segmentHorizontal {
    width: 100px;
    height: 10px;
}

.segmentHorizontal {
    width: 10px;
    height: 100px;
}